section.header 
    .container 
     .header__block.row
        .logo.col-4
          a(href="index.html")
            img(src="img/logo.svg", alt="er")   
        nav.menu.col-6
                a(href="index.html") Консультации 
                a(href="service.html") Услуги
                a(href="train.html") тренинги
                a(href="") блог     
        .header__links.col-2
                a(href="#").header__link
                    img(src="img/face.svg", alt="er")
                a(href="#").header__link
                    img(src="img/whats.svg", alt="er")
                a(href="#").header__link
                    img(src="img/tele.svg", alt="er")  
        .header__door.col-2
            img(src="img/menu.svg", alt="er")
.burger.burger--notActive
    .container-md
        .burger__close
             img(src="img/close.svg", alt="er") 
        .burger__content 
            img(src="img/mobileLogo.svg", alt="er").burger__logo
            nav.burger__link 
                a(href="index.html") Консультации 
                a(href="service.html") Услуги
                a(href="train.html") тренинги
                a(href="") блог  

