section.quest.d-flex.row.col-10
    .quest__item.d-flex.column.col-4
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как гайти точки роста и определить цели?
    .quest__item.d-flex.column.col-4
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как гайти точки роста и определить цели?
    .quest__item.d-flex.column.col-4
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как гайти точки роста и определить цели?
    .quest__item.d-flex.column.col-4
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как гайти точки роста и определить цели?   