section.quest.d-flex.row.col-10
    .quest__item.d-flex
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как гайти точки роста и определить цели?
    .quest__item.d-flex
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как избежать проблем на старте нового бизнеса?
    .quest__item.d-flex
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как увеличить прибыль, управляя ценами?
    .quest__item.d-flex
            img(src="img/emptyLogo.svg", alt="er").quest__img
            p.quest__text Как не попасть в "черную дыру" затрат на продвижение?  